// General
$separacion: 5rem;

// Fuentes
$montserrat: 'Montserrat';
$blacker: 'Blacker Display';

// Colores 
$negro: #313733;
$blanco: #FEFEFE;
$naranja: #AD764A;
$azul: #385D6A;
$arena: #D1A67C;

// Fuentes
$delgada: 300;
$media : 400;
$negrita: 700;

// Tamaño de Media Queries
$telefono: 479px;
$tablet: 767px;
$desktop: 1023px;