.things {
    text-align: center; 
    line-height: normal;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15rem;
}

.thingsSubtitle {
    font-size: 3.4rem;
    margin: 0;
    text-transform: capitalize;
    color: $blanco;
    width: 35rem;
    margin-bottom: 5rem;
    span {
        color: lighten($negro, 20);
    }
    @include tablet {
        margin-bottom: 10rem;
        width: 50rem;
    }
}

.thingsContainer {
    margin-top: 8rem;
    width: 95%;
}

.thing{ 
    margin-bottom: 43rem;
    width: 98%;
    @include tablet {
        margin-bottom: 55rem;
    }
    @include desktop {
        @include grid (2, 10rem);
        margin-bottom: 20rem;
        width: auto;
    }

    .thingDescription {
        text-align: start;
        width: 98%;
        font-family: $montserrat;
        @include tablet {
            width: auto;
        }
    }
    
    .thingSingle {
        color: $blanco;
        text-align: start;
        font-size: 3rem;
        font-weight: 700;
        width: 98%;
        margin-bottom: 3rem;
        @include tablet {
            width: 40rem;
            margin-bottom: 2rem;
        }
    }
    .thingDesc {
        color: $blanco;
        font-size: 2.2rem;
        line-height: 1.4;
        width: 95%;
        text-align: justify;
        @include tablet {
            width: auto;
        }
    }
    .readMore {
        color: lighten($negro, 20);
        text-transform: capitalize;
        font-size: 2rem;
        text-decoration: underline;
    }
}

.thing-2 {
    .thingDescription {
        grid-column: 2 / 3;
    }
    .thingImage {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
}

.thingImage {
    position: relative;
    margin-top: 10rem;
    width: 95%;
    @include desktop {
        margin-top: 0;
        width: auto;
    }
}

.shadow {
        position: absolute;
        width: 25rem;
        height: 30rem;
        background: rgb(225,193,163);
        background: linear-gradient(180deg, rgba(225,193,163,0.5690476874343487) 70%, rgba(216,158,99,0) 100%); 
        transform: rotate(-20deg);
        border-radius: 2rem;
        top: -6rem;
        right: 3rem;
        @include tablet {
            width: 35rem;
            height: 40rem;
            right: 13rem;
        }
}

.Tutankhamun {
    position: absolute;
    top: -2rem;
    right: 6rem;
    width: 20rem;
    height: 20rem;
    @include tablet {
        width: 30rem;
        height: 35rem;
        top: -4rem;
        right: 15rem;
    }
}

.showMore {
    padding: 2rem 5rem;
    border: 1px solid $negro;
    text-align: center;
    text-transform: uppercase;
    color: $negro;
    align-content: center;
    font-size: 1.8rem;
}